* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.first {
    width: 100vw;
    min-height: 688px;
    background: url('/img/background.png') center center/cover no-repeat;
    padding: 29px 0 111px 0;
}
.container {
    display: flex;
    margin: 0 auto;
    max-width: 1249px;
    padding: 0 10px;
}
.nav {
    min-height: 89px;
    width: 100%;
    max-width: 1249px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    background-color: black;
}

.promo {
    min-height: 459px;
    display: flex;
    padding-top: 103px;
    justify-content: space-between;

}
.ul-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    min-height: 89px;
    justify-content: center;
    align-items: center;

}
.link_a {
    text-decoration: none;
    color: #e0e0e0;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.71;
    letter-spacing: 0.49px;
    text-transform: uppercase;
}
.link {
    padding: 0 23px;
    min-height: 89px;
    display: flex;
    align-items: center;
}
.ul-nav>li:hover {
    background-color: red;
}
.promo-1 {
width: 55%;
margin: 0;
padding: 0;
}
.media {
    width: 42%;
    margin-top: 40px;
}
.media>img {
    width: 100%;
    box-shadow: -2.2px -13.8px 73px 0 rgba(0, 0, 0, 0.29);
}
h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 6px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 36px;
    word-wrap: break-word;
}
.promo_p {
    width: 90%;
    font-size: 18px;
    line-height: 1.73;   
}
#promo_a {
    display: block;
    border-radius: 1em;
    width: 227px;
    height: 55px;
    background-color: #ff2d2d;  
    text-align: center; 
    padding-top: 10px;
    text-decoration: none;
    margin-top: 58px;
}
.contact-a {
    font-size: 18.5px;
    font-weight: bold;
    line-height: 1.84;
    letter-spacing: 0.46px;
    color: #ffffff;
    margin: 20px auto;
}

.second {
    width: 100vw;
    min-height: 692px; 
    padding: 108px 0;
}
.provide {
    width: 90%;
    display: flex;
    flex-direction: column;
}
.provide-h2 {
    opacity: 0.8;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 0.42px;
    text-align: left;
    text-transform: uppercase;
}
.provide>p {
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
    color: #000000;
    max-width: 509px;
    margin-top: 50px;
}
.provide>a {
    width: 227px;
    height: 55px;
    border: 4px solid #ff2d2d;
    border-radius: 1em;
    text-decoration: none;
    text-align: center; 
    padding-top: 10px;
    margin-top: 58px;
}
.provide-a {
    font-size: 18.5px;
    font-weight: bold;
    line-height: 1.84;
    letter-spacing: 0.46px;
    color: #ff2d2d;
}
.provide-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.provide-about>div {
    width: 271px;
    display: flex;
    flex-direction: column;
}
.provide-about>div>h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.24px;
    margin-top: 30px;
}
.provide-about>div>p {
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
    margin-top: 17px;
}
.manage::before {
    content: url(/img/icons/Settings.svg);
}
.ui::before {
    content: url(/img/icons/Pencil.svg);
}
.brand::before {
    content: url(/img/icons/Diamond.svg);
}
.anim::before {
    content: url(/img/icons/Truck\ 2.svg);
}
.provide-about>div:nth-of-type(n+3) {
    padding-top: 50px;
}
.second-hr {
    max-width: 1249px;
    margin: 0 auto;
}

.third {
    width: 100vw;
    min-height: 1020px; 
    padding-top: 106px;
}
.third>.container {
    flex-direction: column;
}
.feature>h3 {
    font-size: 41.5px;
    font-weight: bold;
    letter-spacing: 0.42px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 105px;  
}
.feature>p {
    font-size: 16.5px;
    line-height: 1.73;
    max-width: 504px;
    text-align: center;
    margin: 0 auto;
    margin-top: 34px;
}
.third-hr {
    width: 132px;
    height: 3px;
    margin: 0 auto;
    margin-top: 29px;
    border: none;
    background-color: #ff2d2d;
}
.feature-ul {
    display: flex;
    list-style: none;
    max-width: 850px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 87px;
    padding: 0;
    flex-wrap: wrap;
}
.feature-a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.09;
    letter-spacing: 0.22px;
    color: rgba(0, 0, 0, 0.7);
}
.feature-a:hover {
    color: #ff2d2d;
}
.feature-fotos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 65px;
}
.feature-foto {
    width: 290.7px;
    height: 290.2px;
    background-color: wheat;
    margin: 7px;
}

.four {
    min-height: 850px;
    padding-bottom: 110px;
} 
.four>.container {
    flex-direction: column;
    margin-top: 138px;

}
.team>h3 {
    font-size: 41.5px;
    font-weight: bold;
    letter-spacing: 0.42px;
    color: var(--black-80);
    text-transform: uppercase;
}
.team>p {
    max-width: 446px;
    font-size: 16.5px;
    line-height: 1.73;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 40px;
}
.four-hr {
    width: 132px;
    height: 3px;
    border: none;
    background-color: #ff2d2d;
    margin-top: 33px;
}
.about-team {
    display: flex;
    flex-direction: row;
    margin-top: 69px;
    flex-wrap: wrap;
}
.main-foto {
    width: 321px;
    height: 458px;
    background-color: wheat;
    margin-right: 75px;
    
}
.employee-about>h4 {
    font-size: 30.5px;
    font-weight: 600;
    letter-spacing: 0.31px;
    text-align: left;
    color: var(--black-80);
    text-transform: uppercase;
    margin-top: 10px;
}
.employee-about>p {
    max-width: 630px;
    font-family: OpenSans;
    font-size: 16.5px;
    line-height: 1.73;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 35px;
}
.team-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    max-width: 370px;
    justify-content: space-between;
    padding: 0;
    margin-top: 44px;
    flex-wrap: wrap;
}
.team-a {
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    line-height: 1.33;
    letter-spacing: 0.9px;
    text-align: left;
    color: var(--black-80);
}
.employee-fotos {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-around;
    margin-top: 40px;
}
.employee-foto {
    width: 196.9px;
    height: 214px;
    background-color: wheat;
    margin: 5px;
    margin-bottom: 0;
    display: inline-block;
    position: relative;
}
.employee-foto:hover::after{
    content: attr(data-title);
    position: absolute;
    left: 0; right: 0;bottom: 1px;
    z-index: 1;
    opacity: 0.5;
    background-color: #000000;
    color: #fff;
    text-align: center;
    width: 100%;
    min-height: 37px;
    text-transform: uppercase;
    font-size: 18.5px;
    font-weight: 600;
    letter-spacing: 0.19px;
    color: #ffffff;
    padding-top: 15px;
}


.five {
    min-height: 521px;
    background-color: #2c2c2c;
    padding: 140px 0;
}
.subscribe {
    margin: 0 auto;
}
.subscribe>h2 {
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 1.05px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}
.subscribe>p {
    font-size: 16.5px;
    line-height: 1.73;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 31px;
}
.subscribe-form {
    text-align: center;
    margin-top: 62px;
    min-height: 79px;
}
.subscribe-input {
    height: 79px;
    width: 512px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    color: rgba(44, 44, 44, 0.7);
    padding-left: 36px;
    border-radius: 5px;
}
.subscribe-button {
    width: 214px;
    height: 79px;
    background-color: #ff2d2d;
    font-size: 18.5px;
    font-weight: bold;
    line-height: 1.84;
    letter-spacing: 0.46px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 22px;

}

.six {
    min-height: 985px;
    padding: 106px 0 110px 0;
}
.six>.container {
    max-width: 1414px;
    flex-direction: column;
    align-content: flex-end;
}

.touch>h2 {
    font-size: 41.5px;
    font-weight: bold;
    text-align: left;
    color: var(--black-80);
    text-transform: uppercase;
}
.touch>p {
    opacity: 0.7;
    font-family: OpenSans;
    font-size: 16.5px;
    line-height: 1.73;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    max-width: 702px;
    margin-top: 51px;
}
.touch>hr {
    width: 132px;
    height: 3px;
    border: none;
    background-color: #ff2d2d;
    margin-top: 54px;
}
.send {
    display: flex;
    margin-top: 65px;
    justify-content: space-between;
    flex-wrap: wrap;

}
.send-form {
    max-width: 731px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 25px;
    min-height: 481px;
}
.send-name {
    width: 339px;
    height: 69px;
    border-radius: 5px;
    background-color: #E6E6E6;
    padding-left: 54px;
    border: none;
    margin-top: 10px;

}
.send-mail {
    width: 339px;
    height: 69px;
    border-radius: 5px;
    background-color: #E6E6E6;
    padding-left: 54px;
    border: none;
    margin-top: 10px;
}
.send-message {
    width: 731px;
    height: 249px;
    margin-top: 46px;
    border-radius: 5px;
    background-color: #E6E6E6;
    text-align: start;
    padding: 35px 51px;
    resize: none;
    border: none;
    font-size: 15.5px;
    line-height: 1.84;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
}
.send-button {
    width: 728px;
    height: 72px;
    margin-top: 45px;
    background-color: #ff3b3b;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
}
input[type="text"].input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
}
input[type="text"]::-moz-placeholder {
    color: rgba(0, 0, 0, 0.7);
}
.info {
    width: 577px;
    height: 481px;
    background-color: #2d2d2d;
    padding-left: 79px;
    margin-top: 10px;
}
.info>h3 {
    font-size: 18.5px;
    font-weight: bold;
    line-height: 1.84;
    letter-spacing: 0.46px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 145px;
    text-transform: uppercase;
}
.info>p {
    font-size: 16px;
    line-height: 1.75;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}
.info>p:nth-of-type(1) {
    margin-top: 41px;
}
.info>p:nth-of-type(2) {
    margin-top: 27px;
}
.info>p:nth-of-type(3) {
    margin-top: 33px;
}
@media (max-width: 1005px) {
    .promo {
        flex-direction: column;
        justify-content: space-between;
    }
    .ul-nav {
        flex-direction: column;
    }
    .promo-1 {
        margin: 0 auto;
    }
    .media {
        margin: 0 auto;
        margin-top: 40px;
    }
    .second>.container {
        display: flex;
        flex-direction: column;
    }
    .provide-about {
        width: 80%;
        margin-top: 50px;
        justify-content: space-around;
    }
} 
@media (max-width: 800px) {
    .feature-ul {
        flex-direction: column;
        align-content: center;
    }
    .employee-fotos {
        flex-wrap: wrap;
    }
    .team-ul {
        justify-content: space-around;
    }
    .main-foto {
        margin: 0;
    }
    .send-form {
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width: 731px) {
    .send-message {
        width: 97%;
    }
    .send-button {
        width: 97%;
    }
}
@media (max-width: 512px) {
    .subscribe-input {
        width: 100vw;
        padding: 0 10px;
    }
    .info {
        margin: 0 auto;
        padding: 10%;
    }
}
footer {
    min-height: 111px;
    background-color: #313030;
}
footer>.container {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-right {
    width: 185px;
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
}
.footer-left {
    margin-top: 57px;
    color: #b8b8b8;
}
.icon {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
}